.form{
  width: 300px;
  margin-bottom: 10px;
}

::-webkit-input-placeholder {
    color: #434a54;
    opacity: 0.5;
     }

table th {
  padding: 10px;
}

table td {
  padding: 3px 10px;
}

.pvtd{
  padding: 3px 15px;
}
